{% if RUN_SALEOR_DASHBOARD %}
# Saleor Dashboard
{{ SALEOR_DASHBOARD_HOST }}{$default_site_port} {
    import proxy "saleor-dashboard:{{SALEOR_DASHBOARD_PORT}}"
}
{% endif %}
{% if RUN_SALEOR_STOREFRONT %}
# Saleor Storefront
{{ SALEOR_STOREFRONT_HOST }}{$default_site_port} {
    import proxy "saleor-storefront:{{SALEOR_STOREFRONT_PORT}}"
}
{% if RUN_SALEOR_CORE %}
{% endif %}
# Saleor CORE
{{ SALEOR_CORE_HOST }}{$default_site_port} {
    import proxy "saleor-core:{{SALEOR_CORE_PORT}}"
}
{% endif %}
